@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #0F1F1C;
    --secondary: rgba(15, 31, 28, 0.5);
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc((100% - var(--container-width)) / 2 );    
}

.container-left {
    padding-right: calc((100% - var(--container-width)) / 2 );    
}

.block {
    height: 200px;
    background-color: #1ac344;
}

a {
    text-decoration: none;
}

/* header */

.header {
    position: relative;
    padding-top: 44px;
    min-height: 940px;
    background: linear-gradient(154deg, #428E5F 0%, #112120 100%), #204434;
    color: white;
    overflow: hidden;
}

.header a {
    color: white;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(./../img/header/header-bottom.svg);
    background-size: 100%;
    
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;    
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    top: -157px;
    right: -87px;
    width: 894px;
    height: 940px;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -6px;
    width: 35px;
    height: 4px;
    border-radius: 100px;
    background-color: #C4C4C4;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}


/* logo */

.logo {
   font-size: 20px;
   font-weight: 700;
   color: white; 
}

.logo a {
    color: inherit;
}

/* button */

.btn {
    display: inline-block;
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 100px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #FFF;
}

.btn:hover {
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}


/* header__content */

.header__content a {
 text-decoration: none;
}

.header__badge {
    margin-bottom: 7px; 
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}

.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    line-height: normal;
}

.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;    
    color: rgb(255, 255, 255, 0.5);
    /* opacity: 0.5; */
}

.header__btn {
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    padding: 27px 48px;
    display: inline-block;
    border-radius: 27px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%);

}

.header__btn:hover {
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.header__btn:active {
    position: relative;
    top: 1px;
}



/* destinations */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;
}

.block {

}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;

}

.destinations__title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: normal;
}

.destinations__title span {
    font-size: 30px;
    line-height: normal;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
    line-height: normal;
}

.common__btn {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: white;
    padding: 25px 45px;
    display: inline-block;
    border-radius: 27px;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%);

}

.common__btn:hover {
    opacity: 0.7;
    transition: 0.2s ease-in;
}

.common__btn:active {
    position: relative;
    top: 1px;
}


/* slider */

.slider {
    position: relative;
    height: 456px;
}

.slider__item {
    width: 335px;
    height: 402px;
    margin-top: 27px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}

.slider .center .slider__item {
    /* width: 380px; */
    height: 456px;
    margin-top: 0;
}

.slider__btn {
    display: block;
    width: 68px;
    height: 68px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #8B8B8B;
}

.slider__btn--prev {
    padding-left: 26px;
    justify-content: flex-start;
    left: -27px;  
}

.slider__btn--next {    
    padding-right: 26px;
    justify-content: flex-end;    
    right: -27px;   
}